LandProperties/Service References/LandPropertyService/LandPropertyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1631/LandPropertyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LandProperties.Entities" />
  <xs:element name="GetAllLandProperties">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLandPropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LandProperties.Entities" minOccurs="0" name="GetAllLandPropertiesResult" nillable="true" type="q1:ArrayOfLandProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LandProperties.Entities" minOccurs="0" name="GetLandPropertyResult" nillable="true" type="q2:LandProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLandProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LandProperties.Entities" minOccurs="0" name="landPropertyToSave" nillable="true" type="q3:LandProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLandPropertyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>