LandProperties/Service References/LandPropertyService/LandPropertyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LandProperties.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LandProperties.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLandProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LandProperty" nillable="true" type="tns:LandProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLandProperty" nillable="true" type="tns:ArrayOfLandProperty" />
  <xs:complexType name="LandProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" type="xs:double" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Mortgages" nillable="true" type="tns:ArrayOfMortgage" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="tns:Owner" />
      <xs:element minOccurs="0" name="UPI" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LandProperty" nillable="true" type="tns:LandProperty" />
  <xs:complexType name="ArrayOfMortgage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mortgage" nillable="true" type="tns:Mortgage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMortgage" nillable="true" type="tns:ArrayOfMortgage" />
  <xs:complexType name="Mortgage">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MoneyAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mortgage" nillable="true" type="tns:Mortgage" />
  <xs:complexType name="Owner">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LandProperties" nillable="true" type="tns:ArrayOfLandProperty" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Owner" nillable="true" type="tns:Owner" />
</xs:schema>