LandProperties/Service References/LandPropertyService/LandPropertyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LandPropertyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1631/LandPropertyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1631/LandPropertyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1631/LandPropertyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LandProperties.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILandPropertyService_GetAllLandProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLandProperties" />
  </wsdl:message>
  <wsdl:message name="ILandPropertyService_GetAllLandProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLandPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="ILandPropertyService_GetLandProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLandProperty" />
  </wsdl:message>
  <wsdl:message name="ILandPropertyService_GetLandProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLandPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="ILandPropertyService_SaveLandProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveLandProperty" />
  </wsdl:message>
  <wsdl:message name="ILandPropertyService_SaveLandProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveLandPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="ILandPropertyService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ILandPropertyService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ILandPropertyService">
    <wsdl:operation name="GetAllLandProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandPropertyService/GetAllLandProperties" message="tns:ILandPropertyService_GetAllLandProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandPropertyService/GetAllLandPropertiesResponse" message="tns:ILandPropertyService_GetAllLandProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLandProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandPropertyService/GetLandProperty" message="tns:ILandPropertyService_GetLandProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandPropertyService/GetLandPropertyResponse" message="tns:ILandPropertyService_GetLandProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveLandProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandPropertyService/SaveLandProperty" message="tns:ILandPropertyService_SaveLandProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandPropertyService/SaveLandPropertyResponse" message="tns:ILandPropertyService_SaveLandProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ILandPropertyService/Delete" message="tns:ILandPropertyService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILandPropertyService/DeleteResponse" message="tns:ILandPropertyService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILandPropertyService" type="tns:ILandPropertyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllLandProperties">
      <soap:operation soapAction="http://tempuri.org/ILandPropertyService/GetAllLandProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLandProperty">
      <soap:operation soapAction="http://tempuri.org/ILandPropertyService/GetLandProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveLandProperty">
      <soap:operation soapAction="http://tempuri.org/ILandPropertyService/SaveLandProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ILandPropertyService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LandPropertyService">
    <wsdl:port name="BasicHttpBinding_ILandPropertyService" binding="tns:BasicHttpBinding_ILandPropertyService">
      <soap:address location="http://localhost:1631/LandPropertyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>